---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Fira Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #444;
$background-color: #fdfdfd;
$brand-color:      #DD4814;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import 'normalize',
        'base',
        'octicons';

main {
    max-width: 960px;
    margin: 0 auto;
    position: relative;

    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $text-color;
    line-height: $base-line-height;

    @import
        'masthead',
        'archive',
        'page',
        'post',
        'syntax-highlight',
        'cards',
        'tags';

    .card {
        width: 212px;
        text-align: center;
        padding: 20px 0;
        border-radius: 6px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-left: 1px solid rgba(0,0,0,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
        background-color: #f9f9f9;
        // margin-top: 22em;
        display: inline-block;
    }

    .container {
        position: absolute;
        width: 78%;
        top: 0;
        right: 0;

        .content {
            width: 650px;
            margin: 0 auto;
            padding: 60px 0 40px 0;
        }
    }

    .table-of-contents {
        list-style: none;
        margin: 0;
        font-size: 12px;
        padding: 0;
        text-transform: uppercase;
        text-align: left;

        li {
            border-bottom: 1px solid #f2f4f6;

            a {
                color: #434a54;
                display: block;
                padding: 10px 0 10px 10px;
                transition: background .3s;
                text-decoration: none;

                &:hover {
                    background: #f2f2f2;
                }
            }
        }
    }
}

@import '_responsive'
