@media screen and (max-width: 963px) {
    .masthead {
        position: relative !important;
    }

    .masthead, .card {
        width: 100% !important;
    }

    .container {
        padding-top: 190px;
        width: 100% !important;
    }
}
