.archive {
    .recent-articles {
        color: #aaa;
        font-size: .8em;
        letter-spacing: .15em;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        word-spacing: .5em;
        text-align: left;
        font-family: Open Sans, Helvetica Neue, sans-serif;
    }

    .posts {
        margin-top: 1.5em;
        list-style: none;
        padding: 0;
        margin: 1em 0 0;

        .post-item {
            position: relative;
            border-top: 1px solid #eee;
            padding: 0;

            a {
                color: inherit;
                display: block;
                padding: 1.5em 0;
                text-decoration: none;

                .post-date {
                    color: #aaa;
                    font-size: .8em;

                    .br {
                        float: right;
                        margin: 4px 0px;
                    }
                }

                .post-title {
                    font-family: Open Sans,Helvetica Neue,sans-serif;
                    display: block;
                    font-size: 1.6em;
                    line-height: 1.1;
                    margin: .667em 0 .333em;
                    -webkit-transition: color .2s cubic-bezier(.4,0,.2,1);
                    transition: color .2s cubic-bezier(.4,0,.2,1);
                }

                .post-excerpt,
                p {
                    color: #aaa;
                    font-family: Open Sans, Helvetica Neue, sans-serif;
                    font-size: .9em;
                    letter-spacing: -.02em;
                    line-height: 1.4;
                    margin: 0;
                }

                &:hover {
                    .post-title {
                        color: $brand-color;
                    }
                }
            }
        }
    }
}
