*, :after, :before {
    box-sizing: border-box;
}

.hr {
    width: 25%;
    margin: 40px auto;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.1);
}

figure {
    margin: 1em 0;
}

p {
    margin: 25px 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

pre {
    background: #f4f2f0;
    border-radius: 3px;
    margin: 0 0 1.5em;
    overflow: auto;
    padding: 1em 1.5em;
    -webkit-text-size-adjust: none;
    white-space: pre;
}

::selection {
    background-color: #D7D7D9;
}

::moz-selection {
    background-color: #D7D7D9;
}

code {
    background: #f4f2f0;
    border-radius: 2px;
    display: inline-block;
    font-family: Monaco,monospace;
    font-size: .8em;
    padding: 2px 3px 1px;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    color: #999;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 18px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 96%;
    padding: 1%;
    border: 1px solid #DBDBDB !important;
    background: #E9E9E9;
    border-radius: 6px;
}

#twitter-widget-0,
#twitter-widget-1,
#twitter-widget-2,
#twitter-widget-3 {
    margin: 0 auto;
}

ol {
    padding: 0 0 0 29px;
}

blockquote {
    color: #9B9B9B;
    margin: 30px 0 25px 0px;
    font-style: oblique;
    font-size: 12px;
    border-left: 2px solid #CCC;
    padding: 0px 0px 0px 10px;
}

blockquote strong {
    color: #D0021B;
    font-style: oblique;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 85%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}