.icons {
    list-style: none;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 1.25em;

    li {
        display: inline-block;
        margin-left: .1em;

        &:first-child {
            margin-left: 0;
        }

        a {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            .icon {

                svg {
                    height: 24px;
                    width: 24px;

                    path {
                        fill: #CCC;
                    }
                }

                &.icon-rss {
                    svg {
                        width: 28px;
                        height: 25px;
                    }
                }

                &:hover {
                    &.icon-twitter {
                        path {
                            fill: #55ACEE;
                        }
                    }

                    &.icon-github {
                        path {
                            fill: #000000;
                        }
                    }

                    &.icon-rss {
                        path {
                            fill: orange;
                        }
                    }
                }
            }
        }
    }
}
